* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .social-links a {
    display: inline-block;
    margin: 15px;
    color: #fff;
    font-size: 50px;
    text-decoration: none;
    padding: 20px;
    border-radius: 70%;
    transition: background-color 0.3s ease-in-out;
  }
  
  .social-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  